{% extends "booking/base.html" %}
{% load bootstrap %}

{% block content %}

    <h2 class="text-center">Destination Detail</h2><br><br>
        <div class="row text-center">
            <div class="col-md">
                <div class="card card-body">
                    <table class="table table-sm">
                        <tr>
                                <th>Id</th>
                                <th>Destination Name</th>
                                <th>Destination City</th>
                                <th>Destination District</th>
                                <th>Destination Address</th>
                            </tr>

                            <tr>
                                <td>{{destination.id}}</td>
                                <td>{{destination.Destination_Name}}</td>
                                <td>{{destination.Destination_City}}</td>
                                <td>{{destination.Destination_District}}</td>
                                <td>{{destination.Destination_Address}}</td>
                            </tr>
                    </table>
                    <br><hr><br>
                    <table class="table table-sm">
                        <tr>
                                <th>Departure City</th>
                                <th>Departure Address</th>
                            </tr>

                            <tr>
                                <td>{{destination.Departure_City}}</td>
                                <td>{{destination.Destination_Address}}</td>
                            </tr>
                    </table>
                    <br><hr><br>
                    <table class="table table-sm">
                        <tr>
                                <th>Mileage</th>
                                <th>Price Per Kilometer</th>
                                <th>Total Price</th>
                                <th>Station Name</th>
                                <th>Update</th>
                                <th>Delete</th>
                            </tr>

                            <tr>
                                <td>{{destination.Destination_Distance }}</td>
                                <td>{{destination.Destination_Price_Per_KiloMeter}}</td>
                                <td>{{destination.Destination_Final_Price}}</td>
                                <td>{{destination.Station_Location_Name}}</td>
                                <td><a class="btn btn-sm btn-warning" href="{% url 'admin-destination-update' destination.id %}">UPDATE</a></td>
                                <td><a class="btn btn-sm btn-danger" href="{% url 'admin-destination-delete' destination.id %}">DELETE</a></td>
                            </tr>
                    </table>
                </div>
            </div>
        </div>
        <br>
{% endblock %}